body {
  width: 100%;
  height: 100%;
}

.bg {
  background-image: url('images/canCup.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  padding-top: 10%;
  padding-bottom: 3%;
}

.landing-text {
  text-align: center;
}

.section1-header {
  color: #e17e65;
  text-align: center;
}

footer {
  background-color: black;
  margin-top: 120px;
}

.bg2 {
  background-color: rgb(47, 50, 53);
}

#mg {
  color: blue;
}

.spacing {
  margin-top: 125px;
}

#scolor {
  color: red;
}

#bg-hcolor {
  background-color: #ff0000;
}

#social-col {
  background-color: orange;
}

#social-col2 {
  background-color: gray;
}

#social-col3 {
  background-color: rgb(38, 38, 226);
}
